.mermaid {
    display: flex;
    justify-content: center;
    width: 100%;
}
.mermaid svg {
    max-width: 100%; /* Zorgt dat hij niet buiten het scherm loopt */
    height: auto;
    min-width: 600px; /* Forceert een minimale breedte voor kleine diagrammen */
}
